<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Fonts -->
  <package id="FiraCode" />
  <package id="firacodenf" />
  <!-- Development -->
  <package id="vscode" installArguments="/NoDesktopIcon" />
  <package id="gh" />
  <package id="git" installArguments="/NoGuiHereIntegration /WindowsTerminalProfile /Symlinks" />
</packages>
